<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Polls API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF87B6161D05B64C006AD65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF87B62A1D05B651006AD65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF87B6351D05B651006AD65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
